html {
    scrollbar-width: normal;
    scrollbar-color: #8b4513 #8b4513;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #8b4513;
}

html::-webkit-scrollbar-thumb {
    background: #740606;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: red;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}

nav ul li a:hover {
    color: orange;
}

body {
    font-family: "Audiowide", sans-serif;
    background-image: url(bg.jpg);
    margin: 0;
    padding: 0;
}

header {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: "Audiowide", sans-serif;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: #deb887; /* Barna szín */
    border: 1px solid #8b4513; /* Sötétbarna szín */
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border: 1px solid #8b4513; /* Sötétbarna szín */
}

button {
    background-color: #2e8b57; /* Zöld szín */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
}

button:hover {
    background-color: #3cb371; /* Sötétebb zöld szín */
}

#cart {
    background-color: #cd853f; /* Peru szín */
    padding: 20px;
    margin: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#total {
    text-align: right;
    margin-top: 20px;
}